<% show_data = @user.attributes %>
<p id="notice"><%= notice %></p>

<h2>User</h2>

<div class="row">
  <table class="bordered">
    <% show_data.each do |key, val| %>
    <tr>
      <td class="teal lighten-4">
        <%= key %>
      </td>
      <td>
        <%= val %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Edit', edit_user_path(@user), { class: "btn" } %> |
<%= link_to 'Back', users_path, { class: "btn grey-text text-darken-4 grey lighten-1" }  %>
