<!DOCTYPE html>
<html>
  <head>
    <title>SampleDevise</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <div class="card-panel light-blue-text text-darken-3 light-blue lighten-4"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="card-panel red-text text-darken-3 red lighten-4"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
